body {
    background-color: #9a859c;
}
.two {
    display: contents;
}
.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20vh;
}

.me {
    border-radius: 20%;
}